.statistics {
  background: #f1f1f1;
  height: 100%;
  min-height: 100vh;
  font-family: "LabGrotesque", sans-serif;
  position: relative;

  &-header {
    display: flex;

    &__return {
      img {
        width: 19px;
        height: 19px;
        transform: rotate(-180deg);
      }
    }
  }
}
