.reportForm__form {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 14px;
  margin-bottom: 28px;
}

.reportForm__form > span {
  font-family: 'GT Eesti Pro Display';
  font-size: 2em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 7px;
}

.input__text,
.input__number {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.input__text > input {
  width: 460px;
  height: 42px;
  box-shadow: 0 0 59px rgba(44, 44, 44, 0.05);
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
  outline: none;
  font-size: 1.8em;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 575.98px) {
  .input__text > input {
    max-width: 460px;
  }
}

.input__number > input {
  width: 141px;
  height: 42px;
  box-shadow: 0 0 59px rgba(44, 44, 44, 0.05);
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
  outline: none;
  font-size: 1.8em;
  text-align: center;
}

@media (max-width: 575.98px) {
  .input__number > input {
    max-width: 141px;
  }
}

.reportForm__form > img {
  margin-top: 5px;
  width: 23px;
  height: 23px;
}
