.nav {
    width: 34%;
    border: 1px solid #efefef;
    background-color: rgb(249, 249, 249, 0.87);
    height: 700px;
    border-radius: 0 0 20px;
    display: block;
    width: 373px;
}

.nav__btn-list {
    display:grid;
    justify-content: center;
    margin-top: 55px;
}

.nav__btn-item {
    width: 280px;
    height: 62px;
    border-radius: 31px;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Muller";
    font-weight: 700;
    letter-spacing: 0.8px;
    color: #5cb42c;
    border: 2px solid #54b611;
    background-color: #fdfdfd;
    margin-top: 20px;
}

.nav__btn-item--selected {
    background-image: linear-gradient(to top, #6aaf5c 0%, #52b709 100%), linear-gradient(36deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.16) 47%, rgba(255, 255, 255, 0.17) 50%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 6px 5px 20px rgba(82, 151, 34, 0.21);
    color: #ffffff;
}

.adaptive {
    display: none;
}

@media (max-width: 1240px) {
    .nav {
        width: 100%;
        max-height: 450px;
        background: none;
        border:none;
        height: auto;
    }
    .nav__btn-list {
        margin-top: 0;
    }
    .nav__btn-item {
        display: none;
    }
    .adaptive {
        display: block;
    }
}

@media (max-width: 450px) {
    .nav__btn-item {
        width: 210px;
        font-size: 14px;
      }
}