.single-report-page {
  padding: 4.6rem 20px 0;
  font-family: "GT Eesti Pro Display", sans-serif;

  &__back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &-text {
      margin-left: 3.1rem;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 36px;
      text-align: left;
    }
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;

    &-text {
      color: #282828;
      font-size: 33px;
      font-weight: 700;
      line-height: 48.74px;
      text-align: left;
      letter-spacing: 0.56px;
    }

    &-date {
      margin-top: 0.2rem;
      margin-left: 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &--prev {
        transform: rotateZ(180deg);
      }

      &--actual {
        width: 125px;
        height: 42px;
        box-shadow: 0 0 59px rgba(44, 44, 44, 0.05);
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        background-color: #f0f7e0;
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 65px;

        p {
          margin-left: 10px;
          margin-bottom: 0;
          color: #000000;
          font-size: 13px;
          font-weight: 300;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
        }
      }
    }

    button {
      border: none;
      outline: none;
      width: 31px;
      height: 31px;
      background-color: #54b611;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__marker {
    width: 6px;
    height: 6px;
    background-color: #18586e;
    border-radius: 50%;
    margin-right: 0.8rem;
  }

  &__tasks,
  &__troubles,
  &__scheduled {
    margin-top: 3.7rem;
    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      h3 {
        color: #18586e;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
      }
    }

    &-item {
      margin-top: 2.4rem;
      width: 580px;
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }
  }
}
