.project {
  position: relative;
  width: 48%;
  background: #f1f1f1;
  border-radius: 12px;
  padding: 17px 26px 16px;
  cursor: pointer;
  max-width: 440px;
  transition: 0.4s;

  &:hover {
    transition: 0.4s;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.11);
  }

  @media (max-width: 1068px) {
    width: 47%;
  }

  @media (max-width: 785px) {
    width: 100%;
  }

  @media (max-width: 430px) {
    padding: 8px 13px 8px;
  }

  a {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #111112;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    text-overflow: ellipsis;
    max-width: 380px;

    &:hover {
      color: black;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 430px) {
      justify-content: space-between;
    }

    p {
      color: #6f6f6f;
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      margin-bottom: 0;
    }

    .count {
      margin-left: 8px;
      width: 21px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #dddddd;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #6f6f6f;
    }

    .add {
      color: #6f6f6f;
      font-size: 17px;
      margin: 0 25px 0 auto;

      @media (max-width: 430px) {
        display: none;
      }
    }

    .menu-settings {
      position: absolute;
      font-size: 21px;
      color: #6f6f6f;
      right: 0;
      top: -35%;

      @media (max-width: 430px) {
        display: none;
      }
    }
  }
}
