.project {
  position: relative;
  width: 322px;

  background: #f1f1f1;
  border-radius: 12px;
  padding: 17px 26px 16px;
  cursor: pointer;
  max-width: 440px;
  transition: 0.4s;

  &:hover {
    transition: 0.4s;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.11);
  }

  @media (max-width: 1068px) {
    width: 47%;
  }

  @media (max-width: 785px) {
    width: 100%;
  }

  &__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #111112;
    margin-bottom: 22px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    text-overflow: ellipsis;
    max-width: 380px;

    &:hover {
      color: black;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 27px;

    p {
      color: #6f6f6f;
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 500;
      line-height: 17px;
      width: 60px;
    }

    .count {
      margin-left: 8px;
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #dddddd;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #6f6f6f;
    }

    .add {
      color: #6f6f6f;
      font-size: 17px;
      margin: 0 25px 0 auto;

      @media (max-width: 430px) {
        display: none;
      }
    }

    .menu-settings {
      position: absolute;
      font-size: 21px;
      color: #6f6f6f;
      right: 0;
      top: -35%;
    }
  }

  &__avatar {
    width: 25px;
    height: 25px;
    margin-left: 56px;
  }

  &__statistics {
    color: #678eda;
    margin-top: 27px;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
  }
}
