.project {
  &__settings {
    position: absolute;
    padding: 32px 23px 10px 11px;
    background: #e1fccf;
    border-radius: 12px;
    transform: scale(0);
    bottom: -148px;
    right: -120px;

    &-menu {
      font-size: 14px;
      line-height: 38px;

      div {
        display: flex;
        align-items: center;

        img {
          margin-right: 12px;
        }

        p:hover {
          text-decoration: underline;
        }
      }
    }

    &-ellipsis {
      position: absolute;
      top: -2px;
      left: 10px;
      font-size: 21px;
      color: #6f6f6f;
    }
  }

  &__settings.active {
    transform: scale(1);
    z-index: 99;
  }
}
