.calendar {
  font-family: 'LabGrotesque', sans-serif;
  .profile__calendar {
    margin-top: 20px;
  }
  &__back {
    text-decoration: none !important;
    color: black !important;
    font-size: 14px;

    div {
      display: flex;
      column-gap: 20px;
    }
  }

  &__profile {
    margin-top: 42px;
  }
}
