.auth-header {
  background-color: #f1f1f1;

  &__logo {
    padding: 0 0 0 160px;
    height: 55px;
    display: flex;
    align-items: center;

    h3 {
      font-size: 20px;
      line-height: 32px;
      color: #000000;
    }
    span {
      color: #52b709;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    height: 66px;
    width: 100%;
    background: #ffffff;

    .auth-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-right: 25px;

          font-size: 18px;
          line-height: 32px;

          a {
            color: #897676;
          }
          a:hover {
            text-decoration: none;
          }

          a:focus {
            color: #000000;
          }

          .candidate {
            color: #1458DD;
          }
        }
      }

      img {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 768px) {
  .auth-header {
    display: none;
  }
}

@media (max-width: 1375px) {
  .auth-header {
    display: none;
  }
}
