.ticket-full-screen {
  background: #f5f5f5;
}

.ticket {
  border: none;
  justify-content: center;

  &-whith {
    width: 850px !important;
  }
}

.content-tabs {
  padding-bottom: 0;
}

.link {
  color: #252c32;
  &:hover {
    color: #252c32;
    text-decoration: none;
  }
}
