.tracker {
  background: #f1f1f1;
  height: 100%;
  min-height: 100vh;
  font-family: "LabGrotesque", sans-serif;
  position: relative;

  .container {
    max-width: 1160px;
    padding: 0 15px;

    @media (max-width: 570px) {
      margin-top: 0;
    }
  }

  &__content {
    margin-top: 23px;
  }

  footer {
    margin-top: 70px;

    .row {
      margin-right: 0px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 27px;
  }

  &__tabs {
    display: flex;
    flex-direction: column;

    &__head {
      display: flex;
      max-width: 1160px;
      width: 100%;
      background: #e1fccf;
      border-radius: 12px;
      margin: 0 auto;
      position: relative;
      height: 60px;

      @media (max-width: 650px) {
        background: none;
        justify-content: space-between;
        position: relative;
        top: 15px;
        height: auto;
      }
    }

    .tab {
      display: flex;
      padding: 12px 40px 15px 19px;
      cursor: pointer;
      align-items: center;
      color: black;

      img {
        width: 16px;
        height: 16px;
      }

      @media (max-width: 490px) {
        padding: 8px 20px 8px 14px;
      }

      @media (max-width: 370px) {
        padding: 5px 15px 5px 10px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        margin: 0 0 0 14px;

        @media (max-width: 490px) {
          font-size: 13px;
          white-space: nowrap;
        }
      }

      @media (max-width: 650px) {
        border-radius: 10px;
        flex-direction: column;
        padding: 20px;
        align-items: start;
        row-gap: 20px;
        height: auto !important;

        p {
          margin-left: 0;
        }
      }
    }

    .active-tab {
      background: white;
      border-radius: 12px 12px 5px 5px;
      position: relative;
      height: 73px;
      display: flex;
      top: -13px;
      align-items: center;

      p {
        font-weight: 600;
      }

      img {
        filter: invert(0%) sepia(0%) saturate(2411%) hue-rotate(-25deg)
          brightness(118%) contrast(119%);
      }

      @media (max-width: 650px) {
        border-radius: 10px;
        align-items: start;
        top: 0;
      }
    }

    &__content {
      width: 100%;
      background: #ffffff;
      padding: 27px 0 29px;

      &__wrapper {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
      }

      &__projects {
        flex-wrap: wrap;
        column-gap: 34px;
        row-gap: 30px;
        display: none;
        align-items: center;

        @media (max-width: 785px) {
          row-gap: 25px;
          justify-content: center;
          padding: 0 15px 20px;
        }

        .no-projects {
          display: flex;
          flex-direction: column;
          padding: 20px;
          width: 100%;

          &__createNew {
            display: flex;
            div {
              display: flex;
              align-items: center;
              margin-right: 35px;

              p {
                font-weight: 700;
                font-size: 22px;
                line-height: 32px;
                color: #000000;
                margin-left: 17px;
              }
            }
          }

          &__info {
            margin-top: 27px;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
          }
        }

        .createProjectBtn {
          max-width: 188px;
          height: 50px;
          width: 100%;
          font-weight: 400;
          font-size: 15px;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            margin-right: 9px;
            font-weight: 700;
            font-size: 18px;
          }

          @media (max-width: 650px) {
            height: 40px;
            font-size: 12px;
          }
        }

        .create-newProject {
          display: flex;
          align-items: center;

          p {
            margin-left: 32px;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            max-width: 214px;

            @media (max-width: 450px) {
              max-width: none;
            }
          }
        }
      }

      &__tasks {
        display: none;
        background: #ffffff;
        border-radius: 12px;
        flex-direction: column;

        @media (max-width: 650px) {
          border-radius: 0;
        }
      }

      .tasks {
        &__head {
          border-bottom: 1px solid #dde2e4;
          padding: 0 35px 15px;

          @media (max-width: 1000px) {
            padding: 0 15px 15px;
          }

          @media (max-width: 650px) {
            background-color: #DFF1FF;
          }

          &__wrapper {
            display: flex;
            max-width: 1280px;
            width: 100%;
            margin: 0 auto;
            justify-content: space-between;
            padding: 0 10px;
            align-items: center;

            &__fullScreen {
              max-width: 1160px;
            }

            @media (max-width: 1350px) {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
              padding: 0px;
            }
          }

          h5 {
            color: #1458dd;
            font-weight: 700;
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 0;
            max-width: 21%;
            word-break: break-all;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            @media (max-width: 1350px) {
              width: 100%;
              max-width: none;
            }
          }

          &__add {
            display: flex;
            margin: 0 15px 0 10px;

            .button-add-column {
              width: 33px;
              height: 33px;
              font-size: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            p {
              margin-left: 14px;
              font-weight: 300;
              font-size: 14px;
              line-height: 17px;
              max-width: 120px;
              display: flex;
              align-items: center;
            }

            @media (max-width: 1350px) {
              margin-left: 0;
            }

            @media (max-width: 700px) {
              width: 100%;
            }
          }

          &__persons {
            position: relative;
            display: flex;
            align-items: center;

            @media (max-width: 700px) {
              right: -15px;
            }

            @media (max-width: 465px) {
              width: 100%;
            }

            .projectPersons {
              display: flex;
              position: relative;
              left: -10px;
              img {
                position: relative;
                display: flex;
                width: 32px;
                height: 32px;
              }

              img:nth-child(1) {
                left: -5px;
              }

              img:nth-child(2) {
                left: -10px;
              }
              img:nth-child(3) {
                left: -15px;
              }
            }

            span {
              width: 32px;
              height: 32px;
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
              border-radius: 50px;
              align-items: center;
              justify-content: center;
              position: relative;
              display: flex;
            }

            .countPersons {
              color: #252c32;
              border: 1px solid #dde2e4;
              background: white;
              left: -6px;
            }

            .addPerson {
              background: #00c5a8;
              color: white;
              font-size: 14px;
              transition: all 0.15s ease;
              left: -28px;
              z-index: 2;
              cursor: pointer;

              &:hover {
                background: #10d5bb;
              }
            }

            p {
              position: relative;
              left: -25px;
              font-weight: 300;
              font-size: 14px;
              line-height: 17px;
              max-width: 125px;
            }

            .persons__list {
              position: absolute;
              z-index: 20;
              display: flex;
              flex-direction: column;
              background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
              border-radius: 40px;
              padding: 31px 128px 41px 49px;
              cursor: default;
              width: 650px;

              &__close {
                cursor: pointer;
                position: absolute;
                right: 25px;
                top: 25px;
                margin-left: auto;
                width: 35px;
                height: 35px;
              }

              &__count {
                display: flex;
                align-items: end;
                color: #1458dd;
                font-size: 22px;
                margin-top: 10px;
                span {
                  font-size: 44px;
                  font-weight: 700;
                  line-height: 40px;
                  width: auto;
                  height: auto;
                  margin-right: 5px;
                }
              }

              &__info {
                display: flex;
                margin: 11px 0 35px;
                align-items: center;

                span {
                  display: flex;
                  width: auto;
                  font-size: 18px;
                  line-height: 22px;
                  color: #263238;
                  font-weight: 500;
                  white-space: nowrap;
                }

                p {
                  color: #1458dd;
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 22px;
                  display: flex;
                  max-width: 250px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  margin-left: 30px;
                }
              }

              &__items {
                display: flex;
                flex-wrap: wrap;
                row-gap: 32px;
                column-gap: 85px;
                margin-bottom: 38px;
              }

              &__item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 190px;
                width: 100%;

                .avatar {
                  width: 38px;
                  height: 38px;
                  margin-right: 12px;
                }

                span {
                  display: block;
                  font-weight: 400;
                  font-size: 15px;
                  line-height: initial;
                  color: #807777;
                  width: auto;
                  height: auto;
                  max-width: 130px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }

                .delete {
                  cursor: pointer;
                  width: 20px;
                  height: 20px;
                }
              }

              &__add {
                display: flex;
                cursor: pointer;

                span {
                  background: #8bcc60;
                  left: 0;
                }

                p {
                  margin-left: 17px;
                  color: #000000;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 32px;
                  position: initial;
                  max-width: none;
                }
              }

              @media (max-width: 1000px) {
                width: 390px;
                padding: 15px 30px;
                .persons__list__info {
                  margin: 10px;
                }

                .persons__list__items {
                  flex-direction: column;
                  margin-bottom: 20px;
                  row-gap: 15px;

                  .persons__list__item {
                    max-width: none;
                    span {
                      max-width: none;
                      width: 100%;
                    }
                  }
                }
              }

              @media (max-width: 440px) {
                width: 290px;
                padding: 15px 20px;
              }
            }
          }

          .noProjectUsers {
            @media (max-width: 900px) {
              position: inherit;

              .addPerson {
                position: inherit;
              }

              p {
                position: inherit;
                margin-left: 14px;
              }
            }
          }

          &__checkBox {
            margin: 0 15px 0 0;
            cursor: pointer;
            display: flex;
            align-items: center;

            @media (max-width: 650px) {
              margin: 0;
            }

            span {
              color: #252c32;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
            }

            &__box {
              width: 20px;
              height: 20px;
              border-radius: 6px;
              border: solid 1px gray;
              margin-left: 5px;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 18px;
                height: 18px;
              }
            }
          }

          &__executor {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            margin-right: 10px;
            border-radius: 8px;
            border: 1px solid #e3e2e2;
            padding: 2px 6px;
            position: relative;
            max-width: 220px;
            width: 100%;

            @media (max-width: 915px) {
              margin-right: 0;
              width: 100%;
              max-width: none;
            }

            @media (max-width: 650px) {
              border-color: gray;
            }

            &Selected {
              display: flex;
              align-items: center;
              border-radius: 8px;
              max-width: 220px;
              width: 100%;
              margin-right: 10px;
              justify-content: center;

              p {
                color: #252c32;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                max-width: 155px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }

              .avatar {
                margin: 0 5px;
              }

              .delete {
                cursor: pointer;
              }

              img {
                display: flex;
                width: 20px;
                height: 20px;
              }

              @media (max-width: 915px) {
                width: 100%;
                max-width: none;
                justify-content: start;

                p {
                  font-size: 16px;
                  max-width: none;
                }
              }
            }
            p {
              color: #252c32;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
            }

            img {
              transition: all 0.15s ease;
              margin-left: 5px;
            }

            .open {
              transform: rotate(180deg);
            }

            &Dropdown {
              position: absolute;
              top: 33px;
              left: 0;
              background: white;
              border-radius: 8px;
              z-index: 5;
              padding: 10px 10px;
              display: flex;
              flex-direction: column;
              row-gap: 7px;
              width: 100%;


              .executorDropdown__person {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                  max-width: 155px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;


                  @media (max-width: 915px) {
                    max-width: none;
                  }
                }

                img {
                  width: 15px;
                  height: 15px;
                }

                &:hover {
                  p {
                    font-weight: 600;
                  }
                }
              }
            }
          }

          &__back {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: black;
            min-width: 180px;
            max-width: 180px;
            width: 100%;

            p {
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
            }

            img {
              margin-left: 10px;
              width: 20px;
            }

            &:hover {
              p {
                font-weight: 500;
              }
            }

            @media (max-width: 1150px) {
              display: none;
            }
          }
        }

        &__container {
          padding: 30px 25px 30px;
          display: flex;
          column-gap: 25px;
          margin: 0 auto;
          overflow: auto;
          max-width: 100%;
          transform: scaleY(-1);
          align-items: end;

          &::-webkit-scrollbar {
            height: 8px;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background: #cbd9f9;
            border-radius: 20px;
          }

          &::-webkit-scrollbar-track {
            background: #c5c0c6;
            border-radius: 20px;
          }

          @media (max-width: 900px) {
            padding: 15px;
            flex-direction: column;
            row-gap: 25px;
            transform: none;
          }
        }

        &__board {
          background: #f5f7f9;
          box-shadow: 0px 2px 5px rgba(60, 66, 87, 0.04),
            0px 0px 0px 1px rgba(60, 66, 87, 0.08),
            0px 1px 1px rgba(0, 0, 0, 0.06);
          border-radius: 8px;
          padding: 12px 10px 12px 8px;
          min-width: 365px;
          max-width: 380px;
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          height: fit-content;
          position: relative;
          transition: all 0.3s ease;
          transform: scaleY(-1);
          min-height: 815px;

          @media (max-width: 900px) {
            min-width: auto;
            width: 100%;
            max-width: none;
            transform: scaleX(1);
          }

          .tasksContainer {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            max-height: 750px;
            overflow: auto;
            padding: 8px;

            &::-webkit-scrollbar {
              width: 3px;
              border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
              background: #cbd9f9;
              border-radius: 20px;
            }

            &::-webkit-scrollbar-track {
              background: #c5c0c6;
              border-radius: 20px;
            }
          }

          &__hover {
            box-shadow: 0px 2px 10px #9cc480,
              0px 0px 0px 1px rgba(60, 66, 87, 0.08),
              0px 1px 1px rgba(0, 0, 0, 0.06);
          }

          .task__hover {
            box-shadow: 0 0 5px gray;
          }

          &__item {
            width: 328px;
            max-height: 250px;
            padding: 16px;
            position: relative;
            box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.06),
              0px 5px 3px -2px rgba(0, 0, 0, 0.02);
            border-radius: 6px;
            background: #ffffff;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: 0.4s;

            &:hover {
              transform: scale(1.025);
              transition: 0.3s;
            }

            @media (max-width: 900px) {
              width: 100%;
              max-height: none;

              &:hover {
                transform: none;
              }
            }

            &__hide {
              opacity: 0;
            }

            &__title {
              display: flex;
              justify-content: space-between;
              position: relative;

              p {
                color: #1a1919;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
                max-height: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              }

              span {
                cursor: pointer;
                display: flex;
                border-radius: 6px;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                padding-bottom: 13px;
                width: 24px;
                height: 24px;
                border: 1px solid #dddddd;
              }
            }

            &__description {
              margin: 8px 0 4px;
              color: #5c6165;
              font-weight: 400;
              font-size: 14px;
              line-height: 140%;
              max-height: 100px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            &__info {
              display: flex;
              justify-content: space-between;
              align-items: center;
              pointer-events: none;

              &__more {
                cursor: pointer;
                display: flex;
                align-items: center;
                span {
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 15px;
                  color: #6e7c87;
                  margin-left: 5px;
                }
              }

              &__avatars {
                position: relative;
                img {
                  position: relative;
                }
                img:first-child {
                  right: -15px;
                  z-index: 2;
                }
              }
            }

            &__deadLine {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 10px;

              p {
                font-weight: 500;
                font-size: 14px;
                color: #1458DD;
              }

              span {
                font-weight: 500;
                font-size: 14px;
              }
            }

            &__executor {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 10px 0 15px;
              padding-right: 10px;
              font-size: 14px;
              font-weight: 500;

              span {
                max-width: 210px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              img {
                width: 25px;
                height: 25px;
              }
            }
          }

          .openItems {
            cursor: pointer;
            border-radius: 44px;
            width: 33px;
            height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: -15px;
            font-size: 20px;
            left: 165px;
            color: white;
          }

          .moreItems {
            background: #8bcc60;
          }

          .lessItems {
            background: #f92828;
          }

          &__more {
            padding-bottom: 50px;
          }

          .column__select {
            position: absolute;
            padding: 15px;
            background: #e1fccf;
            border-radius: 12px;
            right: -20px;
            top: 5px;
            z-index: 7;
            row-gap: 10px;
            display: flex;
            flex-direction: column;

            @media (max-width: 910px) {
              right: 10px;
              top: 40px;
            }

            &__item {
              cursor: pointer;
              display: flex;
              align-content: center;
              img {
                margin-right: 5px;
              }

              span {
                font-size: 14px;
              }
            }
          }

          &__noItems {
            font-weight: 500;
            font-size: 25px;
            transform: scaleY(-1);

            @media (max-width: 900px) {
              transform: none;
            }
          }

          &__noTasks {
            display: flex;
            flex-direction: column;
            transform: scaleY(-1);

            &Info {
              display: flex;
              align-items: center;
              margin-bottom: 15px;
              img {
                width: 27px;
                height: 27px;
                margin-right: 17px;
              }

              p {
                font-weight: 700;
                font-size: 22px;
                line-height: 32px;
              }
            }

            &More {
              font-size: 14px;
              line-height: 22px;
            }

            @media (max-width: 900px) {
              transform: none;
            }
          }
        }

        .board {
          &__head {
            position: relative;
            display: flex;
            justify-content: space-between;
            min-width: 300px;

            &__more {
              display: flex;
              align-items: center;
            }

            span {
              color: #6f6f6f;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              max-width: 250px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .add {
              color: #6f6f6f;
              font-size: 19px;
              cursor: pointer;

              &:hover {
                font-weight: 600;
              }
            }

            .more {
              margin-left: 22px;
              position: relative;
              bottom: 4px;
              font-size: 20px;
              cursor: pointer;
              width: 15px;

              &:hover {
                font-weight: 600;
              }
            }

            .done {
              color: #406128;
              font-weight: 700;
            }
          }
        }
      }

      .active__content {
        display: flex;
      }

      &__allTasks {
        max-width: 1160px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .taskList {
          &__head {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding-bottom: 8px;

            @media (max-width: 550px) {
              flex-direction: column;
              row-gap: 10px;
              align-items: start;
            }
            h3 {
              font-weight: 700;
              font-size: 18px;
              line-height: 32px;
              margin-bottom: 0;
              color: #1458dd;

              @media (max-width: 590px) {
                font-size: 15px;
              }
            }

            &__search {
              margin-left: auto;
              padding: 6px 12px;
              display: flex;
              align-items: center;
              background: #ffffff;
              border: 1px solid #dde2e4;
              box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
              border-radius: 6px;
              max-width: 450px;
              width: 100%;

              &:focus-within {
                border: 1px solid #0000004d;
              }

              @media (max-width: 690px) {
                max-width: 350px;
              }

              @media (max-width: 550px) {
                max-width: none;
                margin-left: inherit;
              }

              img {
                width: 14px;
              }

              input {
                width: 100%;
                padding-left: 10px;
                outline: none;
                border: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
              }
            }
          }

          &__wrapper {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            max-height: 400px;
            overflow-y: auto;
            margin-right: -16px;
            padding-right: 10px;

            &::-webkit-scrollbar {
              width: 4px;
              background: 0 0;
              box-shadow: 0 0 14px rgba(0, 0, 0, 0.04);
              border-radius: 20px;
            }

            &::-webkit-scrollbar {
              width: 4px;
              border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
              background: #cbd9f9;
              border-radius: 20px;
            }

            &::-webkit-scrollbar-track {
              background: #c5c0c6;
              border-radius: 20px;
            }

            .task {
              display: flex;
              background: #f1f1f1;
              border-radius: 12px;
              padding: 12px 42px 7px 32px;
              justify-content: space-between;
              transition: 0.4s;
              cursor: pointer;

              &:hover {
                transform: scale(0.99);
                box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.11);
                transition: 0.4s;
              }

              &__info {
                display: flex;
                flex-direction: column;
                max-width: 535px;

                @media (max-width: 820px) {
                  text-align: center;
                  max-width: none;
                }

                h5 {
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 24px;
                  margin-bottom: 0;

                  @media (max-width: 820px) {
                    font-size: 19px;
                  }
                }

                p {
                  font-size: 16px;
                  line-height: 32px;
                  max-width: 710px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }

              &__person {
                display: flex;
                align-items: center;

                img {
                  width: 40px;
                }

                @media (max-width: 820px) {
                  justify-content: center;
                }
              }

              &__project {
                display: flex;
                flex-direction: column;
                margin-left: 20px;

                p {
                  font-size: 16px;
                  font-weight: 500;
                }

                span {
                  font-size: 14px;
                }
              }

              @media (max-width: 820px) {
                row-gap: 10px;
                flex-direction: column;
              }

              @media (max-width: 650px) {
                background-color: white;
              }

              @media (max-width: 450px) {
                padding: 12px 15px;
              }
            }
          }
        }

        @media (max-width: 650px) {
          padding-bottom: 20px;
        }
      }

      &__archive {
        max-width: 1160px;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        column-gap: 28px;

        @media (max-width: 1100px) {
          flex-direction: column;
          row-gap: 20px;
        }

        @media (max-width: 650px) {
          padding-bottom: 20px;
        }

        .archive {
          &__title {
            padding-bottom: 8px;
            display: flex;
            align-items: center;
            color: #1458dd;
            min-height: 48px;

            h3 {
              font-weight: 700;
              font-size: 18px;
              line-height: 32px;
              margin-bottom: 0;

              @media (max-width: 590px) {
                font-size: 15px;
              }
            }

            p {
              margin: 0 0 0 10px;
              font-weight: 300;
              font-size: 18px;

              @media (max-width: 590px) {
                font-size: 15px;
              }
            }

            @media (max-width: 450px) {
              flex-wrap: wrap;
            }
          }

          &__tasksWrapper {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            max-height: 400px;
            overflow-y: auto;
            margin-right: -16px;
            padding-right: 10px;

            &::-webkit-scrollbar {
              width: 4px;
              background: 0 0;
              box-shadow: 0 0 14px rgba(0, 0, 0, 0.04);
              border-radius: 20px;
            }

            &::-webkit-scrollbar {
              width: 4px;
              border-radius: 20px;
            }

            &::-webkit-scrollbar-thumb {
              background: #cbd9f9;
              border-radius: 20px;
            }

            &::-webkit-scrollbar-track {
              background: #c5c0c6;
              border-radius: 20px;
            }
          }

          &__completeTask {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            transition: all 0.3s ease;
            background: #f1f1f1;
            border-radius: 12px;
            padding: 12px 42px 7px 32px;

            &:hover {
              transform: scale(0.99);
              box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.11);
              transition: 0.4s;
            }

            p {
              max-width: 420px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-bottom: 0;
              color: #111112;
            }

            .completeTask__title {
              font-weight: 700;
              font-size: 20px;
              line-height: 32px;
            }

            &__description {
              font-size: 14px;
              font-weight: 500;

              .date {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #6f6f6f;
              }
            }

            &__info {
              display: flex;
              align-items: center;

              img {
                width: 32px;
                height: 32px;
              }

              &__project {
                margin-left: 17px;
                span {
                  color: #807777;
                  font-weight: 500;
                  font-size: 10px;
                }
                p {
                  color: #1a1919;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 24px;
                  text-decoration: line-through;
                }
              }
            }

            @media (max-width: 740px) {
              flex-direction: column;
              padding: 10px 20px;
            }

            @media (max-width: 650px) {
              background-color: white;
            }
          }

          &__tasks {
            min-height: 400px;
            max-height: 450px;
            padding-right: 15px;
            width: 65%;

            @media (max-width: 1100px) {
              width: 100%;
            }

            &__search {
              margin-left: auto;
              padding: 6px 12px;
              display: flex;
              align-items: center;
              background: #ffffff;
              border: 1px solid #dde2e4;
              box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
              border-radius: 6px;
              max-width: 300px;
              width: 100%;

              &:focus-within {
                border: 1px solid #0000004d;
              }

              @media (max-width: 590px) {
                max-width: 230px;
              }

              @media (max-width: 500px) {
                max-width: 150px;
              }

              @media (max-width: 450px) {
                margin-left: 0;
                max-width: none;
              }

              input {
                width: 100%;
                padding-left: 10px;
                outline: none;
                border: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
              }

              img {
                width: 14px;
                height: 14px;
              }
            }
          }

          &__projects {
            display: flex;
            flex-direction: column;
            width: 33%;
            min-height: 400px;
            max-height: 450px;
            padding-right: 15px;

            @media (max-width: 1100px) {
              width: 100%;
              min-height: auto;
            }
          }

          &__noItem {
            background: #f1f1f1;
            border-radius: 12px;
            padding: 23px 0 19px;

            p {
              font-weight: 700;
              font-size: 22px;
              line-height: 32px;
              color: #111112;
              text-align: center;
            }

            @media (max-width: 650px) {
              background-color: white;
            }
          }
        }
      }
    }

    @media (max-width: 650px) {

      &__content {
        padding: 28px 0 0;
        background-color: #DFF1FF;

        .project {
          background-color: white;
          max-width: 394px;
        }
      }

      .projectsTab {
        background-color: #DFF1FF;
      }

      .tasksTab {
        background-color: #E8FFEB;
      }

      .archiveTab {
        background-color: #FFECEF;
      }
    }
  }
}
