.partnerRequests {
  background: #f1f1f1;
  height: 100%;
  min-height: 100vh;
  font-family: "LabGrotesque", sans-serif;

  .container {
    max-width: 1160px;
    margin-top: 23px;

    @media (max-width: 570px) {
      margin-top: 0;
    }
  }

  &__title {
    color: #000000;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
  }

  &__section {
    margin-top: 25px;
    background: #ffffff;
    border-radius: 12px;
    padding: 33px 45px 40px;
    display: flex;
    column-gap: 30px;

    @media (max-width: 795px) {
      padding: 20px 25px 25px;
    }

    @media (max-width: 750px) {
      flex-direction: column;
    }

    &__items {
      display: flex;
      width: 77%;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 25px;

      @media (max-width: 795px) {
        row-gap: 10px;
        column-gap: 15px;
      }

      @media (max-width: 750px) {
        order: 2;
        width: 100%;
      }
    }

    &__item {
      display: flex;
      width: 48%;
      flex-direction: column;
      background: #f1f1f1;
      border-radius: 12px;
      padding: 20px 27px 15px 25px;
      transition: 0.3s all ease;
      position: relative;
      max-height: 100px;

      @media (max-width: 585px) {
        width: 100%;
      }

      &:before {
        content: "...";
        position: absolute;
        right: 27px;
        bottom: 17%;
        color: #6f6f6f;
        font-size: 23px;
      }

      &:hover {
        text-decoration: none;
        box-shadow: 6px 5px 20px rgb(87 98 80 / 21%);
        transform: scale(1.02);
      }

      &__name {
        color: #111112;
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 9px;
      }

      &__count {
        color: #6f6f6f;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        display: flex;
        margin-bottom: 0;

        span {
          color: #6f6f6f;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          background: #dddddd;
          border-radius: 4px;
          width: 21px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
        }
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      width: 22%;
      padding-top: 5px;

      @media (max-width: 750px) {
        order: 1;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        a {
          margin: 0 auto;
          width: 100%;
        }
      }

      h3 {
        color: #52b709;
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 30px;

        @media (max-width: 1085px) {
          margin-bottom: 15px;
          line-height: 18px;
        }
      }

      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 25px;

        @media (max-width: 1085px) {
          margin-bottom: 10px;
          line-height: 19px;
        }
      }

      button {
        max-width: 188px;
        height: 52px;
        font-size: 15px;
        transition: 0.3s all ease;

        a {
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        span {
          color: white;
          font-weight: 700;
          font-size: 20px;
          margin-right: 8px;
        }

        &:hover {
          box-shadow: 6px 5px 20px rgb(87 98 80 / 21%);
          transform: scale(1.02);
        }
      }
    }
  }

  &__noItems {
    display: flex;
    flex-direction: column;

    &__create {
      background: #ffffff;
      border-radius: 12px;
      padding: 29px 33px 23px 36px;
      display: flex;
      margin-top: 40px;
      align-items: center;

      @media (max-width: 1140px) {
        flex-direction: column;
        row-gap: 25px;
      }

      @media (max-width: 670px) {
        padding: 15px 15px;
      }

      &__link {
        display: flex;
        background: #f1f1f1;
        border-radius: 12px;
        padding: 11px 25px 12px 30px;
        align-items: center;
        width: 100%;
        min-width: 650px;
        justify-content: space-between;
        max-height: 70px;

        @media (max-width: 720px) {
          min-width: auto;
        }

        @media (max-width: 670px) {
          max-height: inherit;
          flex-direction: column;
          row-gap: 8px;
          width: auto;

          img {
            margin-right: 5px;
          }
        }

        @media (max-width: 480px) {
          padding: 10px 15px;
        }

        p {
          font-weight: 700;
          font-size: 16px;
          line-height: 32px;
          color: #111112;
          margin-bottom: 0;

          @media (max-width: 480px) {
            font-size: 14px;
          }

          @media (max-width: 380px) {
            font-size: 12px;
          }
        }

        button {
          max-width: 174px;
          width: 100%;
          height: 46px;
          font-weight: 400;
          font-size: 15px;
          line-height: 32px;
          transition: 0.3s all ease;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 100%;
          }

          span {
            color: white;
            font-weight: 700;
            font-size: 20px;
            margin-right: 8px;
          }

          &:hover {
            box-shadow: 6px 5px 20px rgb(87 98 80 / 21%);
            transform: scale(1.02);
          }
        }
      }

      &__instruction {
        margin-left: 45px;

        @media (max-width: 1140px) {
          margin-left: 0;
        }
        h3 {
          color: #52b709;
          font-weight: 700;
          font-size: 15px;
          line-height: 15px;
          margin-bottom: 7px;

          @media (max-width: 1140px) {
            text-align: center;
            font-size: 22px;
            margin-bottom: 15px;
          }

          @media (max-width: 530px) {
            font-size: 16px;
          }
        }

        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          color: #000000;
          margin-bottom: 0;

          @media (max-width: 1140px) {
            text-align: center;
            font-size: 16px;
          }

          @media (max-width: 530px) {
            font-size: 14px;
          }
        }
      }
    }

    &__freeEmployees {
      h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 32px;
      }

      .catalogLink {
        margin-top: 70px;
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        line-height: 32px;
        color: #111112;
        text-align: center;

        a {
          color: #0c7636;
        }
      }
    }
  }

  footer {
    margin-top: 70px;
  }
}
