.description {
    margin-top: 120px;
    margin-bottom: 120px;
    &__wrapper {
        border: 2px solid whitesmoke;
        padding-top: 60px;
        border-bottom: none;
    }
    &__img {
        margin-left: 40px;
        margin-top: 16px;
    }
    &__title {
        font-family: "GT Eesti Pro Display";
        font-size: 25px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 36px;
        text-align: left;
        margin-bottom: 10px;
    }
    &__text {
        font-family: "GT Eesti Pro Display";
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: left;
        line-height: 36px;
    }
    &__button {
        width: 290px;
        height: 62px;
        border-radius: 100px;
        background-color: #5ab426;
        border: none;
        color: #ffffff;
        font-family: "Muller Extra Bold";
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        margin-top: 74px;
    }
    &__sp {
        display: block;
        font-family: "GT Eesti Pro Display";
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 36px;
        text-align: center;
        margin-top: 20px;
    }
    &__rectangle {
        display: block;
        margin: 60px auto;
    }
    &__footer {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        &__btn {
            & button {
                width: 220px;
                height: 60px;
                border-radius: 100px;
                border: 1px solid #5ab424;
                background-color: white;
                margin-right: 60px;
                & a {
                    text-decoration: none;
                    color: #a0a0a0;
                    font-family: "GT Eesti Pro Display";
                    font-size: 18px;
                    font-weight: 600;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                    text-align: left;
                }
            }
        }
        &__box {
            display: flex;
            align-items: center;
            & span {
                color: #705fa3;
                font-family: Circe;
                font-size: 16px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                text-align: center;
                margin: 0 10px;
            }
            & .arrow__left {
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 20px;
                background-color: #f6f6f6;
                & img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            & .arrow__right {
                position: relative;
                width: 30px;
                height: 30px;
                border-radius: 20px;
                background-color: #74be4d;
                & img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}