.search {
    margin-top: 40px;
    & h2 {
        font-family: "GT Eesti Pro Display";
        font-size: 24px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin-bottom: 40px;
    }
    & form {
        position: relative;
        width: 100%;
        height: 60px;
        border: 1px solid whitesmoke;
        & input {
            width: 100%;
            height: 100%;
            border: none;
            margin-left: 160px;
            font-size: 18px;
        }
        & input:focus,
        & input:active {
            outline: none;
        }
        & button {
            position: absolute;
            top: 15%;
            left: 1%;
            width: 131px;
            height: 40px;
            border-radius: 10px;
            background-color: #e8e8e8;
            border: none;
            font-family: "GT Eesti Pro Display";
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
        }
    }
}