.search {
  margin-top: 40px;
}
  .search__title {
    font-family: 'GT Eesti Pro Display';
    font-size: 2.4em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
  }

  .search__box {
    display: flex;
    justify-content: space-between;
  }

  .search__box > button {
    width: 131px;
    height: 40px;
    border-radius: 10px;
    background-color: #e8e8e8;
    border: none;
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
  }


.select {
  width: 85%;
}

[class$='-placeholder'] {
  display: none;
}

[class$='-control'] {
  border-color: #e8e8e8 !important;
  box-shadow: 0 0 0 1px #e8e8e8 !important;
}

[class$='-value__label'] {
  font-size: 1.4em !important;
}

[class$='-option'] {
  font-size: 1.6em !important;
  color: gray !important;
}
