.search {
  margin-top: 73px;
}
.search__title {
  font-family: 'GT Eesti Pro Display';
  font-size: 2.4em;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}

.search__box {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575.98px) {
  .search__box {
    flex-direction: column;
    align-items: center;
  }
}

.search__box > button {
  color: white;
  width: 131px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-family: 'Muller';
  font-size: 1.6em;
  letter-spacing: 0.8px;
  text-align: center;
  background-color: #73c141;
}

.search__box > button:hover {
  background: rgba(0, 0, 0, 0);
  color: #73c141;
  box-shadow: inset 0 0 0 3px #73c141;
}

@media (max-width: 575.98px) {
  .search__box > button {
    margin-top: 20px;
  }
}

.select {
  width: 85%;
}

[class$='-placeholder'] {
  display: none;
}

[class$='-control'] {
  border-color: #e8e8e8 !important;
  box-shadow: 0 0 0 0 #e8e8e8 !important;
}

[class$='-value__label'] {
  font-size: 1.4em !important;
}

[class$='-option'] {
  font-size: 1.6em !important;
  color: gray !important;
}

.search__submit {
  font-weight: bold;
}

.search__submit:hover .loader path {
    fill: #6aaf5c;
}

@media (max-width: 990px) {
  .select {
    margin-right: 1rem;
  }
}