.modal-layout {
  z-index: 9;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.11);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);

  &__content {
    position: relative;
    background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
    border-radius: 24px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .selectPerson {
      align-items: start;

      &__info {
        font-size: 15px;
        font-weight: 300;
        margin: 12px 0 20px;
      }

      @media (max-width: 805px) {
        row-gap: 0;
      }
    }

    .invite__blocks {
      display: flex;
      column-gap: 20px;

      span {
        margin-top: 8px;
        font-size: 15px;
        font-weight: 300;
      }

      .invitePersonBlock {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &__input {
          margin: 0;
          min-width: 320px;
          height: 42px;

          input {
            height: 42px;
          }

          @media (max-width: 500px) {
            min-width: auto;
          }
        }

        &__btn {
          margin: 0 auto 0 0;
          max-width: 242px;
          width: 100%;
        }
      }

      @media (max-width: 805px) {
        flex-direction: column;
        width: 100%;

        span {
          text-align: center;
          margin: 5px 0;
        }

        .invitePersonBlock {
          row-gap: 5px;
          &__btn {
            margin: 5px auto;
          }
        }

        .addPersonBtn {
          margin: 10px auto 0;
        }
      }
    }

    .select__person {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding: 39px 10px 29px 10px;

      @media (max-width: 500px) {
        padding: 10px;
      }
    }
  }

  .ck-editor {
    width: 100% !important;
  }
}

.modal-layout.active {
  transform: scale(1);
}
