.auth {
  &__wrapper {
    background: #ffffff;
    border-radius: 12px;
    padding: 50px 0 35px 56px;
    margin-top: 40px;
    display: flex;
    position: relative;

    @media (max-width: 1024px) {
      margin-top: 100px;
    }

    @media (max-width: 870px) {
      flex-direction: column;
      padding: 25px;
    }
  }

  &__info {
    margin-right: 115px;
    h3 {
      font-weight: 500;
      font-size: 30px;
      line-height: 32px;
      margin-bottom: 20px;
    }

    p {
      max-width: 310px;
      margin-top: 17px;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;

      @media (max-width: 870px) {
        max-width: none;
        margin-bottom: 15px;
      }
    }

    @media (max-width: 870px) {
      margin-right: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 30px;
      background: #eff2f7;
      border-radius: 8px;
      min-width: 300px;
      width: 100%;
      padding: 8px 12px;
      border: none;
      outline: none;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;

      @media (max-width: 870px) {
        max-width: 350px;
      }
    }

    label {
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }

    button {
      background: #52b709;
      border-radius: 44px;
      max-width: 130px;
      width: 100%;
      border: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: white;
      height: 45px;
    }

    &__buttons {
      display: flex;
      column-gap: 20px;
      align-items: center;

      span {
        cursor: pointer;
        text-decoration-line: underline;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }

  &__img {
    position: absolute;
    right: 10px;
    top: -90px;
  }
}
