.bookkeeping-form-field {
    display:flex;
    margin-top: 35px;
    width: 768px;
}


.bookkeeping-form-field__title {
    font-family: 'GT Eesti Pro Display';
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 200px;
} 
  .bookkeeping-form-field__action {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'GT Eesti Pro Display';
    color: #59b520;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 300;
    margin-left: 20px;
}

@media (max-width: 800px) {
    .bookkeeping-form-field {
        display: grid;
        justify-items: center;
    }
    .bookkeeping-form-field__title {
        justify-content: center;
        margin: 10px;
    }

    .bookkeeping-form-field__action {
        margin-top: 10px;
    }

    .bookkeeping-form-field {
        width: 100%;
    }
}

@media (max-width: 380px) {
    .bookkeping-Input {
        max-width: 280px;
    }
}

