.CalendarComponent {
  margin-top: 80px;
  margin-bottom: 60px;
  background-color: #f9f9f9;
  padding-left: 68px;
  padding-right: 54px;
  padding-top: 48px;
  padding-bottom: 94px;
}

.CalendarComponent__header {
  display: flex;
}

.CalendarComponent__header > h3 {
  font-family: 'GT Eesti Pro Display';
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
}

.CalendarComponent__header__box {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.CalendarComponent__header__box > img {
  width: 6px;
  height: 6px;
}

.CalendarComponent__header__box > span {
  color: #18586e;
  font-family: 'GT Eesti Pro Display';
  font-size: 1.6em;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16.81px;
  text-align: left;
  margin-left: 10px;
  cursor: pointer;
}

.CalendarComponent__rectangle {
  margin: 36px 0;
}

.CalendarComponent__rectangle > img {
  width: 100%;
}

.CalendarComponent__body > div {
  display: flex;
  justify-content: space-around;
}

.CalendarComponent__body > div > p {
  color: #398208;
  font-family: 'GT Eesti Pro Display';
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
}

.CalendarComponent__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CalendarComponent__form > button {
  width: 125px;
  height: 42px;
  box-shadow: 0 0 59px rgba(44, 44, 44, 0.05);
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
  margin-top: 20px;
}

.selected {
  font-weight: bold;
  border: 1px solid #398208 !important;
}
