.CalendarComponent {
  margin-top: 80px;
  margin-bottom: 60px;
  background-color: #f9f9f9;
  padding-left: 68px;
  padding-right: 54px;
  padding-top: 48px;
  padding-bottom: 94px;
}

@media (max-width: 575.98px) {
  .CalendarComponent {
    margin-bottom: 40px;
    padding: 28px 0 48px 0;
  }
}

.CalendarComponent__header {
  display: flex;
}

.CalendarComponent__header > h3 {
  font-family: 'GT Eesti Pro Display';
  font-size: 2.5em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
}

@media (max-width: 575.98px) {
  .CalendarComponent__header > h3 {
    font-size: 1.6em;
  }
}

.CalendarComponent__header__box {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.CalendarComponent__header__box > img {
  width: 6px;
  height: 6px;
}

.CalendarComponent__header__box > span {
  color: #18586e;
  font-family: 'GT Eesti Pro Display';
  font-size: 1.6em;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16.81px;
  text-align: left;
  margin-left: 10px;
  cursor: pointer;
}

.CalendarComponent__rectangle {
  margin: 36px 0;
}

@media (max-width: 575.98px) {
  .CalendarComponent__rectangle {
    margin: 24px 0;
  }
}

.CalendarComponent__rectangle > img {
  width: 100%;
}

.CalendarComponent__body > div {
  display: flex;
  justify-content: space-around;
}

.CalendarComponent__body > div > p {
  color: #398208;
  font-family: 'GT Eesti Pro Display';
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
}

.CalendarComponent__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CalendarComponent__form > button {
  width: 125px;
  height: 42px;
  box-shadow: 0 0 59px rgba(44, 44, 44, 0.05);
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
  margin-top: 20px;
  font-family: 'GT Eesti Pro Display';
  font-size: 1.2em;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

@media (max-width: 575.98px) {
  .CalendarComponent__form > button {
    width: 72px;
    height: 40px;
  }
}

@media (max-width: 560.98px) {
  .CalendarComponent__form > button {
    width: 70px;
    height: 40px;
  }
}

@media (max-width: 540.98px) {
  .CalendarComponent__form > button {
    width: 68px;
    height: 40px;
  }
}

@media (max-width: 520.98px) {
  .CalendarComponent__form > button {
    width: 66px;
    height: 40px;
  }
}

@media (max-width: 500.98px) {
  .CalendarComponent__form > button {
    width: 64px;
    height: 40px;
  }
}

@media (max-width: 480.98px) {
  .CalendarComponent__form > button {
    width: 60px;
    height: 40px;
  }
}

@media (max-width: 460.98px) {
  .CalendarComponent__form > button {
    width: 56px;
    height: 40px;
  }
}

@media (max-width: 440.98px) {
  .CalendarComponent__form > button {
    width: 52px;
    height: 40px;
  }
}

@media (max-width: 428.98px) {
  .CalendarComponent__form > button {
    width: 50px;
    height: 40px;
  }
}

@media (max-width: 414.98px) {
  .CalendarComponent__form > button {
    width: 49px;
    height: 40px;
  }
}

@media (max-width: 395.98px) {
  .CalendarComponent__form > button {
    width: 46px;
    height: 40px;
  }
}

@media (max-width: 350.98px) {
  .CalendarComponent__form > button {
    width: 44px;
    height: 40px;
  }
}

@media (max-width: 349.98px) {
  .CalendarComponent__form > button {
    width: 42px;
    height: 40px;
  }
}

@media (max-width: 346.98px) {
  .CalendarComponent__form > button {
    width: 40px;
    height: 40px;
  }
}

.calendarIcon {
  margin-right: 10px;
  margin-top: -4px;
}

@media (max-width: 575.98px) {
  .calendarIcon {
    display: none;
  }
}

.before {
  opacity: 0.2;
}

.today {
  font-weight: bold !important;
  border: 1px solid #398208 !important;
}

.selected {
  background-color: yellow !important;
}
