.modal-error {
  z-index: 9;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.11);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);

  &__content {
    position: relative;
    padding: 54px 76px;
    background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 24px;
      line-height: 29px;
      color: #263238;
      margin-bottom: 16px;
    }

    p {
      font-size: 12px;
      line-height: 14px;
      width: 176px;
      text-align: center;
      font-weight: 300;
      margin-bottom: 30px;
    }

    &-button {
      color: white;
      font-size: 14px;
      line-height: 32px;
      width: 198px;
      height: 50px;
      background: #52b709;
      border-radius: 44px;
      border: none;
    }

    span {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 36px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 16px;
        height: 2px;
        background: #263238;
      }

      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.modal-error.active {
  transform: scale(1);
}
