.page__breadcrumps {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    position: absolute;
}

.page__last {
    font-family: 'GT Eesti Pro Display';
    font-size: 12px;
    font-weight: 300;
    color: #c4c4c4;
    cursor: pointer;
    position: relative;
    margin-right: 19px;
}


.page__last:before {
    position: absolute;
    width: 8px;
    height: 8px;
    content: '';
    left: 106%;
    top: 28%;
    border-top: 2px solid #c4c4c4;;
    border-left: 2px solid #c4c4c4;;
    transform: rotate(135deg);
    cursor: auto;
  }

.page__current {
    font-family: 'GT Eesti Pro Display';
    font-size: 12px;
    font-weight: 300;
    color: #000000;
    cursor: pointer;
}