.contract__create {
    display: flex;
}

.contract__title {
    font-family: 'GT Eesti Pro Display';
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}

.contract__create span {
    font-family: 'GT Eesti Pro Display';
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;  
}

.contract__create input {
    margin: 0px 15px;
    font-family: 'GT Eesti Pro Display';
    font-weight: 300;
    font-size: 18px;
    height: 33px;
    border-radius: 17px;
    background-color: #f9f9f9;
    color: #000000;
    outline:none;
    border: none;
    text-align: center;
}

.contract__number {
    width: 70px;
    font-family: 'GT Eesti Pro Display';
    font-weight: 300;
    font-size: 18px;
}

.contract__date {
    width: 110px;
}

.contract__date::-webkit-calendar-picker-indicator {
    display: none;
}

.content__client {
    display: flex;
    margin: 40px 0;
}

.content__client-title {
    font-family: 'GT Eesti Pro Display';
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 200px;
}

.content__client-name {
    display: flex;
    width: 358px;
    height: 33px;
    border-radius: 17px;
    background-color: #f9f9f9;
    border: none;
    outline: none;
    padding-left: 25px;
    font-family: 'GT Eesti Pro Display';
    font-weight: 300;
    font-size: 18px;
}

.content__requisite {
    display: flex;
    margin: 40px 0;
}

.content__requisite-title {
    font-family: 'GT Eesti Pro Display';
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 200px;
}

.content__orders {
    display: flex;
}

.content__orders-title {
    font-family: 'GT Eesti Pro Display';
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 200px;
}


.content__orders-name {
    display: flex;
    width: 358px;
    height: 33px;
    border-radius: 17px;
    background-color: #f9f9f9;
    border: none;
    outline: none;
    padding-left: 25px;
    font-family: 'GT Eesti Pro Display';
    font-weight: 300;
    font-size: 18px;
}

.content__btn-list{
    display: flex;
    margin-top: 42px;
}

.act-Button {
    display: flex;
    align-items: center;
}

.link-act-button {
    display: flex;
}


@media (max-width: 1240px) {
    .page__breadcrumps {
        display: none;
    }

    .content__info-main {
        justify-content: center;
    }

    .contract__create {
        justify-content: center;
    }

    .content__btn-list {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .contract__create {
        display: grid;
    }

    .contract__create input {
        margin: 0 auto;
    }

    .contract__create span {
        margin: 10px auto;
    }
}

