.content__column-list {
    display: flex;
}

@media (max-width: 1240px) {
    .content__column-list {
        justify-content: center;
    }
}

@media (max-width: 840px) {
    .content__column-list {
        display: grid;
    }
    
    .content-column {
        margin: 15px 0 0 0;
    }
}

@media (max-width: 430px) {
    .content-column {
        width: 310px;
    }
    
    .content-column-item {
        width: 270px;
    }
}