.registration {
  background: white;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  border: 1px solid #dde2e4;
  border-radius: 8px;
  width: 1088px;
  height: 529px;

  &-body {
    &__left {
      padding: 60px 0 30px 77px;

      h2 {
        font-weight: 500;
        font-size: 35px;
        line-height: 32px;
        display: flex;
        justify-content: space-between;
        width: 405px;
        margin: 0 auto;
      }

      h2 > p {
        font-size: 35px;
        color: #52b709;
      }

      &-desc {
        text-align: center;
        width: 500px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        margin: 20px auto 0 auto;
      }

      .input-body {
        margin-top: 44px;
        display: flex;
        flex-direction: row;

        &__box {
          margin-right: 25px;
          display: flex;
          flex-direction: column;

          h5 {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
          }

          input {
            width: 294px;
            height: 35px;
            background: #eff2f7;
            border-radius: 8px;
            border: none;
            margin-bottom: 5px;
            padding-left: 20px;
          }

          .inputContainer {
            height: 81px;
            margin-bottom: 10px;
            max-width: 294px;
          }

          span {
            color: red;
            font-size: 12px;
          }

          .error {
            border: 1px solid red;
          }
        }
      }

      .button-box {
        display: flex;
        flex-direction: row;
        margin-top: 10px;

        &__submit {
          width: 174px;
          height: 50px;
          font-size: 18px;
          margin-right: 55px;
        }

        .disable {
          opacity: 0.5;
          pointer-events: none;
        }

        h5 {
          display: flex;
          align-items: flex-end;
          font-size: 16px;
          line-height: 28px;

          p {
            color: #406128;
            text-decoration: underline;
            margin: 0 0 0 5px;
          }
        }
      }
    }

    &__right {
      border-left: 1px solid #f1f1f1;
      padding: 80px 32px 46px 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-weight: 900;
        font-size: 14px;
        line-height: 24px;
        color: #52b709;
        margin-right: 100px;
        width: 180px;
      }

      &-text {
        display: flex;
        flex-direction: row;

        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 22px;
          width: 205px;
        }

        img {
          margin: 0 18px 20px 0;
        }
      }
    }
  }

  .loader {
    justify-content: start;
    left: 80px;
  }
}
