.content-button {
    font-family: "Muller";
    font-size: 22px;
    letter-spacing: 1.1px;
    cursor: pointer;
    font-weight: 600;
}

@media (max-width: 800px) {
    .content-button {
        max-width: 230px;
        max-height: 65px;
    }
}

@media (max-width: 450px) {
    .content-button {
        max-width: 175px;
        max-height: 60px;
        font-size: 18px;
    }
}