.SectionFour {
  & p {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
  }
}
