
  .SectionOne > h3 {
    font-family: 'GT Eesti Pro Display';
    font-size: 2.2em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
  }

  .SectionOne > p {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;

  }

  .SectionOne > h4 {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
  }

  .SectionTwo > p {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
  }

  .SectionThree > h3 {
    font-family: 'GT Eesti Pro Display';
    font-size: 2.2em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
  }

  .SectionThree > p {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
  }

  .SectionThree > h4 {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
  }

  .SectionFour > p {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
  }

  .SectionFive > p {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 16px;
    text-align: left;
  }

  .SectionSkills {
    border: 1px solid #69bf2c;
    padding: 28px 40px 16px 30px;
    margin-top: 60px;
    border-radius: 10px;
    margin-bottom: 60px;
    
  }
  
  .SectionSkills > h3 {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
  }
  
  .SectionSkills > p {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
  }