
  .SectionOne > h3 {
    font-family: 'GT Eesti Pro Display';
    font-size: 2.2em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
  }

  .SectionOne > p {
    font-family: 'GT Eesti Pro Display - Thin';
    font-size: 1.8em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    text-align: left;
    color: #444444;
  }

  .SectionOne > h4 {
    font-family: 'GT Eesti Pro Display';
    font-size: 1.8em;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
  }

