.candidateSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid whitesmoke;
  border-bottom: none !important;

  &__info {
    text-align: center;
    margin-top: 40px;
    & img {
      width: 180px;
      height: 180px;
    }

    &__e {
      font-family: 'GT Eesti Pro Display';
      font-size: 1.8em;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 36px;
      margin-top: 20px;
    }

    &__y {
      font-family: 'GT Eesti Pro Display - Bold';
      font-size: 3em;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
    }

    &__btn {
      width: 280px;
      height: 60px;
      border-radius: 100px;
      border: none;
      background-color: #70c03e;
      color: #ffffff;
      font-family: 'GT Eesti Pro Display';
      font-size: 1.8em;
      font-weight: 600;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 120px;
    }

    &__l {
      font-family: 'GT Eesti Pro Display';
      font-size: 1.8em;
      font-weight: 600;
      font-style: normal;
      letter-spacing: normal;
      line-height: 36px;
      text-align: center;
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
    margin-top: 20px;

    & .arrow__left {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      background-color: #f6f6f6;
      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    & span {
      color: #705fa3;
      font-family: Circe;
      font-size: 1.6em;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      margin: 0 10px;
    }

    & .arrow__right {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      background-color: #74be4d;
      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
