.frequently-asked-questions {
  background: #f5f5f5;
  height: 100%;
  min-height: 100vh;
  font-family: "LabGrotesque", sans-serif;
  display: flex;
  flex-direction: column;
  @media (max-width: 1375px) {
    margin-top: 80px;
  }
  &__container {
    flex: 1 1 auto;
    margin-top: 30px;
  }
  &__about {
    display: flex;
    align-items: center;
    margin: 0 0 70px 0;
    @media (max-width: 600px) {
      flex-wrap: wrap;
      row-gap: 25px;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 67%;
    color: #000000;
    margin: 0 13px 0 0;
    @media (max-width: 600px) {
      order: 1;
    }
  }
  &__arrow {
    background: rgba(128, 119, 119, 0.3);
    flex: 0 0 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px 0 0;
    @media (max-width: 600px) {
      order: 2;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    word-break: break-word;
    color: #000000;
    white-space: pre-line;
  }
  &__rubrics {
    display: grid;
    grid-row-gap: 49px;
    grid-column-gap: 29px;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 750px) {
      grid-template-columns: 1fr;
      grid-gap: 60px;
    }
  }
}

