//Удалить при переходе всех модалок в обертку modalLayout
.modal-add {
  z-index: 9;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.11);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);

  &__content {
    position: relative;
    width: 424px;
    background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
    border-radius: 24px;

    padding: 60px 60px 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.title-project {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 15px 0;

  .select-priority {
    background-color: white;
    width: 100%;
    margin: 12px 0;
    padding: 10px 8px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;

    img {
      width: 15px;
      height: 15px;
    }

    &__dropDown {
      position: absolute;
      width: 100%;
      background: white;
      left: 0;
      padding: 8px;
      top: 50px;
      display: flex;
      border-radius: 8px;
      row-gap: 5px;
      flex-direction: column;

      span {
        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  .input-container {
    width: 287px;
    height: 35px;
    background: #ffffff;
    border-radius: 8px;
    margin: 12px 0;

    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #263238 !important;
  }

  &__decs {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    margin: 12px 0 16px 0;
  }

  &__textarea {
    resize: none;
    width: 302px;
    height: 83px;
    background: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    line-height: 18px;
  }

  .select__worker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    position: relative;

    p {
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
    }

    img {
      transition: all 0.3s ease;
      width: 16px;
      height: 16px;
    }

    &__dropDown {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      padding: 5px;
      top: 35px;
      left: 0;
      background: white;
      border-radius: 5px;
      row-gap: 5px;

      .worker {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .open {
    .arrow {
      transform: rotate(180deg);
    }
  }
}

.name-project {
  margin-left: 10px;
  border: none;
  outline: none;
  height: 100%;
  width: 90%;
  font-size: 14px;
}

.button-add {
  width: 130px;
  height: 37px;

  font-weight: 400;
  font-size: 15px;
  line-height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.modal-add.active {
  transform: scale(1);
}

.exit {
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 40px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    background: #263238;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
