.content-column {
    border-radius: 10px;
    border: 1px solid #69bf2c;
    width: 396px;
    height: 854px;
    display: grid;
    padding: 23px 20px 50px 20px;
    margin-right: 10px;
}

.content-column__title {
    font-size: 22px;
    font-family: 'GT Eesti Pro Display';
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    line-height: 36px;
    padding-bottom:20px;
}


