.candidate__title {
  margin-top: 60px;
}

.candidate__title > h2 {
  text-align: center;
  color: #52b709;
  font-family: 'GT Eesti Pro Display';
  font-size: 5em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 77.81px;
}

@media (max-width: 575.98px) {
  .candidate__title > h2 {
    font-size: 5em;
    line-height: normal;
  }
}

@media (max-width: 375.98px) {
  .candidate__title > h2 {
    font-size: 4.5em;
    line-height: normal;
  }
}

.candidate__title > h2 > span {
  color: #282828;
  font-style: normal;
  letter-spacing: 0.56px;
  line-height: normal;
}

.candidate__header {
  display: flex;
  align-items: center;
  margin-top: 120px;
  margin-left: 60px;
}

@media (max-width: 768px) {
  .candidate__header {
    flex-direction: column;
  }

  .candidate__header .arrow {
    margin-left: 60px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575.98px) {
  .candidate__header {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 40px;
  }

  .candidate__header .arrow {
    margin-left: 0;
  }
}

.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 575.98px) {
  .arrow {
    margin-bottom: 40px;
  }
}

.arrow__img > img {
  cursor: pointer;
}

.arrow__sp > span {
  margin-left: 40px;
  margin-right: 120px;
  font-family: 'GT Eesti Pro Display';
  font-size: 1.8em;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: left;
}

@media (max-width: 575.98px) {
  .arrow__sp > span {
    margin-right: 0px;
  }
}

.icon {
  min-width: 260px;
  min-height: 120px;
  background-color: #f9f9f9;
  border-radius: 20px;
  position: relative;
}

.icon > h3 {
  position: absolute;
  right: 20%;
  top: 40%;
  font-family: 'GT Eesti Pro Display';
  font-size: 1.8em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.icon > img {
  position: absolute;
}

.front {
  left: -5%;
}

.back {
  top: 11%;
  left: -9%;
}

.des {
  top: 24%;
  left: -9%;
}

.candidate__main {
  margin-top: 60px;
}

.candidate__main__description {
  padding-left: 16px;
}

.candidate__main__description > h2 {
  font-family: 'GT Eesti Pro Display';
  font-size: 2.8em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: left;
}

@media (max-width: 575.98px) {
  .candidate__main__description > h2 {
    font-size: 3.2em;
    text-align: center;
    position: absolute;
    top: -410px;
    left: 0;
  }
}

@media (max-width: 375.98px) {
  .candidate__main__description > h2 {
    font-size: 3em;
  }
}

@media (max-width: 345.98px) {
  .candidate__main__description > h2 {
    font-size: 2.6em;
  }
}

@media (max-width: 575.98px) {
  .candidate__main__description > img {
    /* width: 50%;
    display: block;
    margin: 0 auto; */
    display: none;
  }
}

.candidate__main__description > p {
  font-family: 'GT Eesti Pro Display';
  font-size: 1.2em;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: left;
  margin: 20px 0px;
}

@media (min-width: 576.98px) {
  .candidate__btn {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .candidate__btn {
    display: block;
    width: 221px;
    height: 49px;
    box-shadow: 0 8px 20px rgba(82, 151, 34, 0.21);
    border-radius: 24px;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #6aaf5c 0%, #52b709 100%),
      linear-gradient(
        36deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.16) 47%,
        rgba(255, 255, 255, 0.17) 50%,
        rgba(255, 255, 255, 0) 100%
      );
    color: #ffffff;
    font-family: 'Muller';
    font-size: 1.3em;
    letter-spacing: normal;
    text-align: left;
    border: none;
    text-align: center;
    margin: 28px auto;
  }
}

.SectionSkills {
  display: flex;
  border: 1px solid #69bf2c;
  padding: 28px 40px 16px 30px;
  margin-top: 60px;
  border-radius: 10px;
  margin-bottom: 60px;
}

@media (max-width: 575.98px) {
  .SectionSkills {
    display: none;
  }
}

.SectionSkills > h3 {
  font-family: 'GT Eesti Pro Display';
  font-size: 1.8em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: left;
}

.SectionSkills > ul {
  list-style: none;
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
}

.SectionSkills > ul > li {
  font-family: 'GT Eesti Pro Display';
  font-size: 1.8em;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: left;
  margin-left: 20px;
}

.candidate__text > p {
  font-family: 'GT Eesti Pro Display';
  font-size: 1.6em;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.candidate__textSecondary {
  font-family: 'GT Eesti Pro Display';
  font-size: 1.6em;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  line-height: 28px;
}

.candidate + .logout-button{
  top: 80px !important;
}

.candidate footer {
  margin-top: 2.5rem !important;
}

@media (max-width: 1199px) {
  .candidate + .logout-button {
      top: 16px !important;
  }
}