@use 'sass:math'; 
.candidate {


  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
  }

  &__main {
    margin-top: 60px;

    &-description {
      padding-left: 16px;

      h2 {
        font-family: 'GT Eesti Pro Display', sans-serif;
        font-size: 2.8em;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 36px;
        text-align: left;
      }

      p {
        font-family: 'GT Eesti Pro Display', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        font-style: normal;
        letter-spacing: normal;
        line-height: 36px;
        text-align: left;
        margin: 20px 0;
      }
    }
  }

  &__text {
    p {
      font-family: 'GT Eesti Pro Display', sans-serif;
      font-size: 1.6em;
      font-weight: 100;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
    }

    &-secondary {
      font-family: 'GT Eesti Pro Display', sans-serif;
      font-size: 1.6em;
      font-weight: 100;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      line-height: 28px;
    }
  }

  &__icon {
    min-width: 260px;
    min-height: 120px;
    background-color: #f9f9f9;
    border-radius: 20px;
    position: relative;

    img {
      position: absolute;
    }

    h3 {
      position: absolute;
      right: 20%;
      top: 40%;
      font-family: 'GT Eesti Pro Display', sans-serif;
      font-size: 1.8em;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
    }
  }

  &__arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &-img {
      margin-right: 10px;
    }
    &-sp {
      font-size: 14px;
    }
  }

  footer {
    margin-top: 2.5rem !important;
  }
}

@media (max-width: 575.98px) {
  .candidate {
    &__title {
      h2 {
        font-size: 5em;
        line-height: normal;
      }
    }

    &__arrow {
      margin-bottom: 40px;

      &-img {
        img {
          cursor: pointer;
        }
      }

      &-sp {
        span {
          margin-left: 40px;
          margin-right: 120px;
          font-family: 'GT Eesti Pro Display', sans-serif;
          font-size: 1.8em;
          font-weight: 100;
          font-style: normal;
          letter-spacing: normal;
          line-height: 36px;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 375.98px) {
  .candidate {
    &__title {
      h2 {
        font-size: 4.5em;
        line-height: normal;
      }
    }
  }
}

@media (max-width: 768px) {
  .candidate {
    &__header {
      flex-direction: column;
    }

    &__arrow {
      margin-left: 60px;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 575.98px) {
  .candidate {
    &__header {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-top: 40px;
    }

    &__main {
      &-description {
        h2 {
          font-size: 3.2em;
          text-align: center;
          position: absolute;
          top: -410px;
          left: 0;
        }

        img {
          display: none;
        }
      }
    }

    &__btn {
      display: block;
      width: 221px;
      height: 49px;
      box-shadow: 0 8px 20px rgba(82, 151, 34, 0.21);
      border-radius: 24px;
      background-color: #ffffff;
      background-image: linear-gradient(to top, #6aaf5c 0%, #52b709 100%),
        linear-gradient(
          36deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.16) 47%,
          rgba(255, 255, 255, 0.17) 50%,
          rgba(255, 255, 255, 0) 100%
        );
      color: #ffffff;
      font-family: 'Muller', sans-serif;
      font-size: 1.3em;
      letter-spacing: normal;
      border: none;
      text-align: center;
      margin: 28px auto;
    }

    &__arrow {
      margin-left: 0;

      &-sp {
        span {
          margin-right: 0;
        }
      }
    }
  }
}

.front {
  left: -5%;
}

.back {
  top: 11%;
  left: -9%;
}

.des {
  top: 24%;
  left: -9%;
}

@media (max-width: 1199px) {
  .candidate + .logout-button {
    top: 16px !important;
  }
}

@media (max-width: 375.98px) {
  .candidate {
    &__main {
      &-description {
        h2 {
          font-size: 3em;
        }
      }
    }
  }
}

@media (max-width: 345.98px) {
  .candidate {
    &__main {
      &-description {
        h2 {
          font-size: 2.6em;
        }
      }
    }
  }
}

@media (min-width: 576.98px) {
  .candidate {
    &__btn {
      display: none;
    }
  }
}

.candidate + .logout-button {
  top: 80px !important;
}


.candidate__works{ 
  @media (min-width: 576px) {
    padding: 0 0 45px 0;
  }
}
.works__body{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.item-works{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  margin: 0 0 30px 0;
  flex: 0 1 50%;
  position: relative;

  @media (max-width: 761px) {
    flex: 0 1 100%;
  }

  &__body{
    padding: 17px;
    border: 2px solid #54b611;
    border-radius: 10px;

    &::before{
      content: "";
      position: absolute;
      top: -2px;
      left: 25px;
      height: 5px;
      width: 29px;
      border-radius: 3px;
      background-color: #54b611;
    }
  }

  &__link{
    color: #0350dc;
    font-family: "GT Eesti Pro Display", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: math.div(36,16);
    text-decoration: underline;
    display: block;
    margin-bottom: 17px;
  }
  &__text{
    margin-bottom: 37px;
    color: #000000;
    font-family: "GT Eesti Pro Display - Thin", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: math.div(18,12);
  }
  &__mark{
    font-size: 13px;
    display: flex;
    align-items: center;
    column-gap: 7px;
    line-height: math.div(36,13);

    &::before{
      border-radius: 50%;
      content: "";
      width: 13px;
      height: 13px;
      background-color: #73c141;
    }
    &_yellow{
      &::before{    
      background-color: #e09f14;
    }      
  } 
    
  }
}