.open-desc-item {
  transition: 0.4s !important;
  transform: rotate(45deg) !important;
}

.taskList {
  &__table {
    margin-top: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    thead {
      height: 65px;
      background: #f1f1f1;
      color: #5b6871;

      th {
        &:first-child {
          padding-left: 10px;
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
        }
        &:last-child {
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
        }
      }
    }

    tbody {
      color: #000;
      tr {
        background-color: white;

        &:nth-child(2n) {
          background-color: rgba(241, 241, 241, 0.23);
        }
      }

      td {
        height: 65px;
        border-bottom: 1px solid rgba(241, 241, 241, 1);

        &:first-child {
          max-width: 275px;
          padding-left: 10px;
          color: #111112;
          font-size: 17px;
          font-weight: 700;
        }
      }

      .task-status {
        width: 130px;
        border: 1px solid #52b709;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 14px;
        font-weight: 400;
      }
    }

    &__title-task {
      display: flex;
      gap: 10px;
      align-items: center;
      transition: 0.4s;
      max-width: 350px;

      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      img {
        cursor: pointer;
        width: 22px;
        height: 22px;

        transition: 0.4s;
        transform: rotate(0deg);
      }
    }

    &__name-project {
      display: flex;
      flex-direction: column;
      transition: 0.4s;

      h4 {
        margin: 0;
        color: #807777;
        font-size: 10px;
        font-weight: 500;
        line-height: 24px;
      }

      p {
        color: #000;
        margin-top: -5px;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        max-width: 318px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
