.auth-candidate {
  font-family: "LabGrotesque", sans-serif;
  overflow: hidden;
  position: relative;
  background-color: #f1f1f1;

  &__start {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-weight: 500;
      font-size: 44px;
      line-height: 32px;
      color: #000000;
      text-align: center;

      span {
        color: #52b709;
      }

      @media (max-width: 660px) {
        font-size: 25px;
      }
    }

    &__description {
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
    }

    &__categoriesWrapper {
      position: relative;
      margin-top: 200px;
      width: 100%;
      display: grid;
      grid-gap: 24px;
      grid-template-columns: 1fr 1fr 1fr;
      margin-bottom: 24px;
      @media (max-width: 955px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 668px) {
        grid-template-columns: 1fr;
      }

      .categoriesItem {
        @media (max-width: 1094px) {
          flex: 0 0 48.6%;
        }

        @media (max-width: 795px) {
          flex: 0 0 100%;
        }
      }

      @media (max-width: 660px) {
        margin-top: 130px;
      }
    }
  }

  footer {
    margin-top: 70px;
  }
}
