.achievement {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 1rem;

  &__popup {
    position: absolute;
    top: 50px;
    left: 0;
    width: 140px;
    min-height: 70px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    text-align: left;
    border-bottom: 3px solid #52b709;
    border-left: 3px solid #52b709;
  }

  &__title {
    color: #18586e;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  &__description {
    color: #18586e;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  &__icon {
    width: 50px;
    height: 50px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &:hover .achievement__popup {
    display: block;
  }
}
