.card-article {
  background: #ffffff;
  border-radius: 12px;
  width: 344px;
  margin-bottom: 24px;

  h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    padding: 12px 16px 8px 16px;
  }

  &__data {
    display: flex;
    padding: 0 0 14px 16px;

    img {
      margin-right: 9px;
    }
  }
}
