.partners {
  overflow: hidden;
}

.partners__background {
  background-color: #f1f1f1;
  position: relative;
}

.vector,
.vectorBlack {
  position: absolute;
}

.vector {
  top: -720px;
  left: -320px;
}

.vectorBlack {
  top: 460px;
  right: -224px;
}

@media (max-width: 575.98px) {
  .vector,
  .vectorBlack {
    display: none;
  }
}

.partners__box {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 194px;
}

@media (max-width: 575.98px) {
  .partners__box {
    margin-bottom: 44px;
  }
}

.partners__title {
  font-family: 'GT Eesti Pro Display';
  font-size: 5.3em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 77.81px;
  text-align: left;
  margin-top: 164px;
}

@media (max-width: 575.98px) {
  .partners__title {
    text-align: center;
    margin-top: 44px;
  }
}

.partners__title > span {
  font-family: 'GT Eesti Pro Display';
  color: #52b709;
  font-style: normal;
  letter-spacing: 0.56px;
  line-height: normal;
}

.partners__partners {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 65px;
}

.partners__partners > img {
  width: 6px;
  height: 6px;
  margin-left: 120px;
}

.partners__partners > span {
  color: #18586e;
  font-family: 'GT Eesti Pro Display';
  font-size: 1.6em;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16.81px;
  text-align: left;
  margin-left: 10px;
}

.partners__form {
  display: flex;
  flex-direction: column;
}

.partners__form > label {
  color: #48802d;
  font-family: 'GT Eesti Pro Display';
  font-size: 2.4em;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16.81px;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 45px;
}

.partners__form > input {
  max-width: 366px;
  height: 75px;
  box-shadow: 0 0 59px rgba(44, 44, 44, 0.05);
  border-radius: 37px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
  margin-bottom: 60px;
  color: #a6a6a6;
  font-family: 'GT Eesti Pro Display';
  font-size: 2.2em;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  padding-left: 45px;
  outline: none;
}

.form__buttons {
  display: flex;
  justify-content: start;
  align-items: center;
}

.form__btn {
  width: 268px;
  height: 75px;
  box-shadow: 6px 5px 20px rgba(82, 151, 34, 0.21);
  border-radius: 38px;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #6aaf5c 0%, #52b709 100%),
    linear-gradient(
      36deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.16) 47%,
      rgba(255, 255, 255, 0.17) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  border: none;
  color: #ffffff;
  font-family: 'Muller';
  font-weight: bold;
  font-size: 2.2em;
  letter-spacing: normal;
  line-height: 71.88px;
  text-align: center;
  border: 2px solid #6aaf5c;
  margin-right: 1.5rem;
}

.form__btn:hover {
  background-image: none;
  background-color: #ffffff;
  border: 2px solid #6aaf5c;
  color: #6aaf5c !important;
  transition: .3s;
}


.form__btn__dev {
  width: 268px;
  height: 75px;
  border-radius: 38px;
  background-color: #ffffff;
  border: 2px solid #6aaf5c;
  font-family: 'Muller';
  font-size: 2em;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 71.88px;
  text-align: center;
}

.form__btn__dev a {
  color: #6aaf5c !important;
}

/* .form__error {
  font-size: 16px;
  color: #b21;
  margin-left: 45px;
} */

@media (max-width: 575.98px) {
  .form__btn {
    margin: 0 auto;
  }
}

.partners__arrow {
  margin-top: 360px;
}

@media (max-width: 575.98px) {
  .partners__arrow {
    display: none;
  }
}

.partners__info {
  background-color: #e1fccf;
  margin-top: 70px;
  max-width: 310px;
  padding-top: 30px;
  position: relative;
  padding-bottom: 310px;
}

@media (max-width: 575.98px) {
  .partners__info {
    max-width: 380px;
  }
}

@media (max-width: 375.98px) {
  .partners__info {
    max-width: 340px;
  }
}

.partners__info__box {
  display: flex;
  align-items: center;
}

@media (max-width: 575.98px) {
  .partners__info__box {
    flex-direction: column;
    justify-content: center;
  }
}

.partners__info__box > img {
  width: 165px;
  height: 165px;
  margin-left: -84px;
  margin-right: 30px;
}

@media (max-width: 575.98px) {
  .partners__info__box > img {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.partners__info__box > h3 {
  font-family: 'GT Eesti Pro Display';
  font-size: 2em;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: left;
}

@media (max-width: 575.98px) {
  .partners__info__box > h3 {
    margin-top: 20px;
  }
}

.partners__info__container {
  display: flex;
  position: relative;
}

.partners__info__img {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 28px;
}

@media (max-width: 575.98px) {
  .partners__info__img {
    margin-left: -48px;
  }
}

.partners__info__img > div > img {
  margin-bottom: 100px;
}

.specialists {
  font-family: 'GT Eesti Pro Display';
  font-size: 1.8em;
  font-weight: 100;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26.12px;
  text-align: left;
  transform: rotate(-90deg);
  text-transform: uppercase;
}

/* .specialists {
  margin-left: 26px;
} */

.info__list {
  list-style: none;
  margin-top: 110px;
  position: absolute;
  right: -120px;
}

@media (max-width: 575.98px) {
  .info__list {
    left: 34px;
  }
}

.info__list__item {
  color: #1f1f1f;
  font-family: 'GT Eesti Pro Display';
  font-size: 4em;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 56.95px;
  text-align: left;
  text-decoration: underline;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .info__list__item {
    font-size: 2.6em;
  }
}

.img__text {
  position: absolute;
  right: -68px;
  bottom: -84px;
}

@media (max-width: 575.98px) {
  .img__text {
    right: -10px;
  }
}

.partners__footer__left {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

@media (max-width: 575.98px) {
  .partners__footer__left {
    margin-top: 120px;
  }
}

.footer__left__sp {
  padding: 0 100px 0 34px;
}

@media (max-width: 575.98px) {
  .footer__left__sp {
    padding: 0;
    margin-left: 10px;
  }
}

.partners__footer__left > div > span {
  color: #18586e;
  font-family: 'GT Eesti Pro Display';
  font-size: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16.81px;
  text-align: left;
}

@media (max-width: 575.98px) {
  .partners__footer__left > div > span {
    font-size: 1.2em;
  }
}

.partners__footer__icon {
  text-align: end;
}

.partners__footer__icon > img {
  margin-left: 20px;
}

@media (max-width: 575.98px) {
  .partners__footer__icon > img {
    margin-left: 10px;
  }
}

.partners__footer__right {
  display: flex;
  flex-direction: column;
  align-items: left;
}

@media (max-width: 575.98px) {
  .partners__footer__right {
    margin-bottom: 20px;
  }
}
.phone {
  color: #003b65;
  font-family: 'CeraPro';
  font-size: 2.1em;
  letter-spacing: normal;
  line-height: 25px;
  text-align: left;
}

.workingHours {
  color: #003b65;
  font-family: 'CeraPro';
  font-size: 1.2em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-left: 24px;
}

.auth__link {
  display: block;
}

.auth__link a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

@media (max-width: 766px) {
  .form__buttons {
    flex-direction: column;
  }

  .form__btn {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}